<h1>Result</h1>
<p><%= @word%></p>
<p><%= @answer.html_safe%></p>
<p><strong>Your score: </strong><%= @end_score%></p>

<ul>
  <% @end_num.each_with_index do |num, index| %>
    <li><%= Time.new.strftime("Played on %m/%d/%Y at %I:%M %p")  %> <strong>----Play <%= index + 1 %> Score: <%= num %> </strong></li>
  <% end %>
</ul>

<%= link_to 'Play again', new_path %>
